---
layout: default
---

<main>


<article class="art-post">

    <header class="art-post-header">
        <h1>{{ page.title }}</h1>

        {% if page.date %}
        <time datetime="{{ page.date | date_to_xmlschema }}">
            {{ page.date | date: "%B %d, %Y" }}
        </time>
        {% endif %}
    </header>

    <div class="art-content">
        {{ content }}
    </div>

</article>

<nav class="post-navigation">
    <a href="{{ '/art/' | relative_url }}">← Back to Art</a>
</nav>


</main>
