<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>{{ page.title }} — {{ site.title }}</title>

    <link rel="stylesheet"
          href="{{ '/assets/css/style.css' | relative_url }}">
</head>

<body>

<header>
    <a href="{{ '/' | relative_url }}">{{ site.title }}</a>

    <nav>
        <a href="{{ '/projects/' | relative_url }}">Games</a>
        <a href="{{ '/art/' | relative_url }}">Art</a>
    </nav>
</header>

<article class="art-post">

    <h1>{{ page.title }}</h1>

    <time>{{ page.date | date: "%B %d, %Y" }}</time>

    <div class="art-content">
        {{ content }}
    </div>

</article>

</body>
</html>