---

---

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


<title>
    {% if page.title == "Home" %}
        {{ site.title }}
    {% else %}
        {{ page.title }} | {{ site.title }}
    {% endif %}
</title>

<meta name="description" content="{{ site.description }}">

<link rel="stylesheet"
      href="{{ '/assets/css/all.css' | relative_url }}">

<link rel="stylesheet"
      href="{{ '/assets/css/custom.css' | relative_url }}">

{% seo %}


</head>

<body>

<div class="site-container">


<div class="ambient-background"></div>

<header>
    <nav>
        <a href="{{ '/' | relative_url }}">Home</a>
        <a href="{{ '/projects/' | relative_url }}">Games</a>
        <a href="{{ '/art/' | relative_url }}">Art</a>
        <a href="https://ghastlymicrowave.github.io/resume/">About</a>
    </nav>
</header>

{{ content }}

{% include footer.html %}


</div>

</body>
</html>
